/* 
Pacific blue 11AAB8
oxford blue 131B2E
white FEFFFF
Dark Sienna 2A0800
*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*Grilla para todos los archivos HTML*/

#grilla{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1pr auto;

    grid-template-areas: "header header"
                        "main main"
                        "footer footer";
}

.header{
    grid-area: header;

}

.main{
    grid-area: main;
    background-color: #11AAB8;
}

.footer{
    grid-area: footer;
}

/*header y footer para todo el proyecto*/

h3{
    font-family: 'Raleway';
}
h4{
    font-family: 'Raleway';
}

.header{
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10px;
    

}
header ul{
    list-style: none;
    display:flex;
    align-items: center;
    margin-right: 50px;
    flex-wrap: wrap;
}

a{
        text-decoration: none;
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 20px;
        color: black;              
}
   
li{
        display: inline-block;
        margin-right: 30px;
}

footer{
    background-color:#131B2E;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    padding: 20px 100px;
    flex-wrap: wrap;
}

 .logo__redes{
    display: flex;
    height: 60px;
    width: 60px;
    border-radius: 5px;
 }

 .redes{
     display: flex;
     align-items: center;
 }

 .div__img{
     padding-right: 20px;
     
 }

 .icono_ayuda{
     width: 70px;
     height: 70px;
 }
 .final__ayuda{
     display: block;
     text-align: center;
     justify-content: center;
 }

 .ec__logo{
    width: 75px;
    height: 70px;
    
 }

 .final__centro{
    display: inline-block;
    text-align: center;
        
 }

.menu__final{
    list-style: none;
    color: white;
    display: inline-block;
    font-size: 15px;
    
}

.lista__final{
    text-decoration: none;
    display: block;
    margin: 0px;
}

/*main index*/
.elementos__principales{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}
.ejercicios{
    margin: 30px 30px;
    background-color: #131B2E;
    color: white;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: 'Raleway';
    display: inline-block;
    align-items: center;
    
}

.pressBanca__video{
    padding: 10px;
    align-items: center;
    justify-content: center;
}

.contenedor__temaPrincipal{
    display: block;
    width: 300px;
    background-color: white;
    font-family: 'Raleway';
    font-weight: bold;
    margin: 30px 30px;
    border: solid;
    border-radius: 5px;
    padding: 5px 10px;
    height: 450px;
    flex-wrap: wrap;
}

.creatina__img{
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    align-items: flex-end;
    flex-wrap: wrap;
    
}
.consumo__frutas{
    position: relative;
    background-image: url(../assets/frutas.jpg);
    background-position: center;
    background-size: cover;
    margin: 30px 30px;
    width: 300px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 10px;
    border: solid black;
    font-family: 'Raleway';
}

p{
    font-family: 'Raleway';

}

/*main nosotros*/
.main__nosotros{
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 6px ;
    border-style: double;
    margin: 100px 10%;
    border-radius: 5px;
    background-color:#2f6b71;   
    
}

.h4_quienesSomos{
    font-weight: lighter;
}

.imagen_nosotros{
    border-radius: 5px;
}


/*main contacto*/

.formulario__contacto{
    border: black 2px solid;
    width: 500px;
    padding: 5px 10px;
    font-family: 'Raleway';
    margin: 20px 0px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
}

.campos{
    background: #2f6b71;
    width: 100%;
    border: inset #2f6b71 5px;
}
.main_contacto{
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton__enviar{
  background: #131B2E;
  color: white;
  padding: 5px;
}

.boton__reset{
    background: #131B2E;
    color: white;
    padding: 5px;
}

.boton_btn{
    background: #131B2E;
    color: white;
    padding: 5px;
}

#userHelp{
    height: 100px;   
}
  
/*media queries (responsive)*/

@media screen and (max-width: 640px) {

    .pressBanca__video{
        width: 250px;
    }
    .logo_header{
        width: 200px;
    }
    .header,.main,.footer{
        flex-wrap: wrap;
    }
    
    .header{
        align-content: center;
        justify-content: center;
    }
    .lista{
        display: block;
        text-align: center;
        margin: 0px;
    }
    li{
        display: block;
        margin: 0px;
    }
    
    .footer{
        display: block;
        padding: 0px;
        
        
    }
    .final__centro{
        align-items: center;
    }
    .redes{
        margin-top: 10px;
        justify-content: center;
    }
    .final__centro{
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 15px;
    }
    .final__ayuda{
        margin-top: 10px;
    }
    .logo__redes{
        height: 40px;
        width: 40px;
    }
    .imagen_nosotros{
        width: 60%;
        
    }
    .main__nosotros{
        display: inline-block;
        margin: 10px;
        padding: 10px;
    }

    .formulario__contacto{
        margin: 10px;
    }
}


@media  screen and (min-width: 769px){
    .main__nosotros{
        font-size: 25px;
    }
}