@import "./media-queries";
@import "./vars";


$header: map-get($colores-fondo , header);
header{
    background-color: $header;
}

.header{
    background-color: white;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 20px 10px;
        @include tablet{
        flex-wrap: wrap;
        align-content: center;
        justify-content: center;
    }
    
    &_ul{
        list-style: none;
        display:flex;
        align-items: center;
        margin-right: 50px;
        flex-wrap: wrap;
            @include tablet{
            display: block;
            text-align: center;
            margin: 0px;
            padding: 0px;;
        }
    }

    &_li{
        display: inline-block;
        margin-right: 30px;
            @include tablet{
            display: block;
            margin: 0px;
        }

        &_a{
            text-decoration: none;
        font-family: 'Raleway';
        font-weight: bold;
        font-size: 20px;
        color: black; 
        }
    }

}