@import "./media-queries";
@import "./vars";

$main: map-get($colores-fondo, main);
main{
    background-color: $main;
}

.main_elementos{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
   
    &-1{
        display: flex;
        align-items:  center;
    }
    &_img{
        padding: 15px;
        border-radius: 20px;
        display: flex;
        @include tablet{
            width: 300px;
        }
        
    }
       
        p{
            font-family: $fuente;
            text-align: center;
      
            }
            
}

.frase1{
    font-weight:bold;
    font-style: oblique;
}

.titulo_seccion{
    display: flex;
    justify-content: center;
}

.plan{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}



.plan_personalizado, .plan_online, .plan_virtual{
    text-align: center;
    border: 1px;
    border-radius: 3px;
    border-style: solid;
    border-color: #131B2E;
    margin: 10px 0px;
    width: 300px;
}

.plan_personalizado:hover, .plan_online:hover, .plan_virtual:hover {
    @include desktop{
    background-color: #131B2E;
    color: white;
    padding: 5px;
    }
}

.plan-img{
    margin-top: 5px;
    padding: 10px;
    border-radius: 10px;
    width: 90%;
    height: 200px;
    
}

.main_boton{
    display: flex;
    align-items: center;
    justify-content: center;

    &__inscribete{
        margin: 10px;
        border-radius: 5px;
        padding: 5px;
        font-family: 'Raleway';
        font-weight: 700;
        background-color:black;
        color: white;
    
    }

}